In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final.csv')

In [3]:
test = df.copy()

In [4]:
test

,Unnamed: 0,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,...,8.35,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75
1,1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,...,7.13,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36
2,2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,...,7.74,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56
3,3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,...,7.19,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17
4,4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,...,5.53,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,...,11.16,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05
254,254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,...,11.16,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05
255,255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,...,6.45,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10
256,256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,...,6.30,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09
257,257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,...,6.30,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09

In [5]:
test['output'] = [1 for i in range(258)]

In [6]:
test.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
test

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,83.88,...,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10,1
256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1
257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1

In [8]:
climate = pd.read_csv('climate_data_nepal_district_wise_monthly.csv')

In [9]:
import random
rand = []
for i in range(258):
    rand.append(random.randint(1000, 29013))

In [10]:
climate['index'] = climate.index

In [11]:
climate

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
0,1981-01-31,1981,1,Arghakhanchi,27.9,83.2,67.31,93.78,5.28,53.09,...,11.19,2.01,3.39,0.81,2.59,2.70,4.22,1.06,3.16,0
1,1981-02-28,1981,2,Arghakhanchi,27.9,83.2,3.37,93.52,5.13,40.88,...,15.10,2.58,4.88,0.95,3.94,3.51,5.62,1.09,4.53,1
2,1981-03-31,1981,3,Arghakhanchi,27.9,83.2,26.02,93.40,5.91,35.84,...,20.58,2.73,4.67,1.02,3.65,3.73,5.72,1.38,4.34,2
3,1981-04-30,1981,4,Arghakhanchi,27.9,83.2,46.15,93.03,6.52,29.81,...,25.63,2.89,4.78,1.07,3.72,3.82,5.66,1.35,4.31,3
4,1981-05-31,1981,5,Arghakhanchi,27.9,83.2,69.45,92.75,9.95,37.25,...,29.99,2.69,4.40,0.93,3.47,3.52,5.29,1.30,4.00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29011,2019-08-31,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,29011
29012,2019-09-30,2019,9,Udayapur,26.9,86.5,9.93,94.92,18.62,87.16,...,25.25,2.40,3.86,1.17,2.68,3.40,4.70,2.05,2.65,29012
29013,2019-10-31,2019,10,Udayapur,26.9,86.5,0.28,95.34,15.04,84.67,...,22.08,1.79,3.21,0.62,2.59,2.48,3.73,0.97,2.76,29013
29014,2019-11-30,2019,11,Udayapur,26.9,86.5,0.04,95.48,11.26,73.08,...,18.75,1.56,2.92,0.46,2.47,2.09,3.29,0.67,2.62,29014
29015,2019-12-31,2019,12,Udayapur,26.9,86.5,0.35,95.74,6.57,61.07,...,12.57,1.79,3.25,0.66,2.60,2.47,3.93,0.83,3.09,29015

In [12]:
climate[climate['index'].isin(rand)]

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
1026,1988-07-31,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,...,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54,1026
1237,2006-02-28,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,...,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13,1237
1356,2016-01-31,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,...,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90,1356
1594,1996-11-30,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,...,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61,1594
1767,2011-04-30,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,...,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56,1767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28365,2004-10-31,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,28365
28448,2011-09-30,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,28448
28773,1999-10-31,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,28773
28863,2007-04-30,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,28863
29011,2019-08-31,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,29011

In [13]:
climate = climate[climate['index'].isin(rand)]

In [14]:
climate

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
1026,1988-07-31,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,...,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54,1026
1237,2006-02-28,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,...,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13,1237
1356,2016-01-31,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,...,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90,1356
1594,1996-11-30,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,...,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61,1594
1767,2011-04-30,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,...,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56,1767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28365,2004-10-31,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,28365
28448,2011-09-30,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,28448
28773,1999-10-31,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,28773
28863,2007-04-30,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,28863
29011,2019-08-31,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,29011

In [15]:
climate.reset_index(drop=True)

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,index
0,1988-07-31,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,...,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54,1026
1,2006-02-28,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,...,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13,1237
2,2016-01-31,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,...,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90,1356
3,1996-11-30,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,...,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61,1594
4,2011-04-30,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,...,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56,1767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004-10-31,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,28365
251,2011-09-30,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,28448
252,1999-10-31,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,28773
253,2007-04-30,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,28863
254,2019-08-31,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,29011

In [16]:
climate.drop(['index'], axis=1, inplace=True)

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
climate.index = [i for i in range(255)]

In [18]:
climate.drop(['DATE'], axis=1, inplace = True)

In [19]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,16.64,...,8.04,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54
1,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,7.03,...,13.14,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13
2,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,1.98,...,11.69,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90
3,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,1.90,...,12.84,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61
4,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,4.88,...,11.22,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,13.19,...,8.21,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77
251,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,17.39,...,6.42,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86
252,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,24.17,...,9.32,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10
253,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,28.06,...,12.89,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90
254,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,27.01,...,5.54,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39

In [20]:
#check if false label generated has common data with true label
match = []
cm = climate['MONTH']
tm = climate['MONTH']
cp = climate["PRECTOT"]
tp = test["PRECTOT"]
for i in tp.index:
    for j in cp.index:
        if tp[i] == cp[j] and tm[i] == cm[j]:
            match.append(cp[j])

In [21]:
match

[]

In [22]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,16.64,...,8.04,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54
1,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,7.03,...,13.14,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13
2,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,1.98,...,11.69,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90
3,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,1.90,...,12.84,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61
4,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,4.88,...,11.22,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,13.19,...,8.21,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77
251,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,17.39,...,6.42,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86
252,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,24.17,...,9.32,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10
253,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,28.06,...,12.89,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90
254,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,27.01,...,5.54,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39

In [24]:
climate['output'] = [0 for i in range(255)]

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,16.64,...,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54,0
1,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,7.03,...,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13,0
2,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,1.98,...,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90,0
3,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,1.90,...,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61,0
4,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,4.88,...,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,13.19,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,0
251,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,17.39,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,0
252,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,24.17,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,0
253,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,28.06,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,0
254,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,27.01,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,0

In [26]:
climate['landslide_size'] = ['no' for i in range(255)]
climate['fatality_count'] = [0 for i in range(255)]
climate['injury_count'] = [0 for i in range(255)]

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
climate

,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,T2M,...,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output,landslide_size,fatality_count,injury_count
0,1988,7,Baitadi,29.5,80.5,215.82,73.61,13.43,83.19,16.64,...,0.49,4.56,2.39,4.21,0.67,3.54,0,no,0,0
1,2006,2,Baitadi,29.5,80.5,0.22,74.02,3.06,36.58,7.03,...,0.39,4.65,2.30,4.60,0.47,4.13,0,no,0,0
2,2016,1,Baitadi,29.5,80.5,6.41,73.89,2.46,41.38,1.98,...,0.28,4.51,1.94,4.24,0.34,3.90,0,no,0,0
3,1996,11,Bajang,29.6,81.2,0.00,68.00,2.44,37.06,1.90,...,0.32,5.26,2.19,5.00,0.39,4.61,0,no,0,0
4,2011,4,Bajang,29.6,81.2,16.26,68.02,4.58,56.58,4.88,...,0.37,5.21,2.46,5.00,0.44,4.56,0,no,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004,10,Terhathum,27.1,87.5,47.95,80.38,9.67,80.70,13.19,...,0.33,3.47,1.75,3.21,0.44,2.77,0,no,0,0
251,2011,9,Terhathum,27.1,87.5,209.62,79.89,14.19,90.83,17.39,...,0.51,3.52,2.19,3.66,0.80,2.86,0,no,0,0
252,1999,10,Udayapur,26.9,86.5,64.18,95.11,13.41,67.38,24.17,...,0.74,3.05,2.82,4.26,1.16,3.10,0,no,0,0
253,2007,4,Udayapur,26.9,86.5,33.12,94.93,8.79,35.02,28.06,...,0.85,3.73,3.25,5.02,1.12,3.90,0,no,0,0
254,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,27.01,...,1.12,3.40,3.66,5.32,1.93,3.39,0,no,0,0

In [28]:
climate = climate.reindex(columns=['YEAR', 'MONTH', 'DISTRICT', 'landslide_size', 'fatality_count',
       'injury_count', 'LAT', 'LON', 'PRECTOT', 'PS', 'QV2M',
       'RH2M', 'T2M', 'T2MWET', 'T2M_MAX', 'T2M_MIN', 'T2M_RANGE', 'TS',
       'WS10M', 'WS10M_MAX', 'WS10M_MIN', 'WS10M_RANGE', 'WS50M', 'WS50M_MAX',
       'WS50M_MIN', 'WS50M_RANGE', 'output'])

In [29]:
climate.rename(columns={'LAT': 'latitude', 'LON': 'longitude'}, inplace=True)

In [30]:
climate

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,1988,7,Baitadi,no,0,0,29.5,80.5,215.82,73.61,...,18.13,2.53,5.05,0.49,4.56,2.39,4.21,0.67,3.54,0
1,2006,2,Baitadi,no,0,0,29.5,80.5,0.22,74.02,...,5.43,2.27,5.04,0.39,4.65,2.30,4.60,0.47,4.13,0
2,2016,1,Baitadi,no,0,0,29.5,80.5,6.41,73.89,...,-0.22,1.95,4.79,0.28,4.51,1.94,4.24,0.34,3.90,0
3,1996,11,Bajang,no,0,0,29.6,81.2,0.00,68.00,...,0.48,2.21,5.58,0.32,5.26,2.19,5.00,0.39,4.61,0
4,2011,4,Bajang,no,0,0,29.6,81.2,16.26,68.02,...,6.11,2.52,5.58,0.37,5.21,2.46,5.00,0.44,4.56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004,10,Terhathum,no,0,0,27.1,87.5,47.95,80.38,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,0
251,2011,9,Terhathum,no,0,0,27.1,87.5,209.62,79.89,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,0
252,1999,10,Udayapur,no,0,0,26.9,86.5,64.18,95.11,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,0
253,2007,4,Udayapur,no,0,0,26.9,86.5,33.12,94.93,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,0
254,2019,8,Udayapur,no,0,0,26.9,86.5,4.46,94.41,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,0

In [31]:
test

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05,1
255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,83.88,...,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10,1
256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1
257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,77.68,...,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09,1

In [32]:
new = test.append(climate)

In [33]:
new

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.8378,81.7080,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.2039,83.9806,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.0000,85.7100,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.1046,83.8791,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.7394,83.5754,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2004,10,Terhathum,no,0.0,0.0,27.1000,87.5000,47.95,80.38,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,0
251,2011,9,Terhathum,no,0.0,0.0,27.1000,87.5000,209.62,79.89,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,0
252,1999,10,Udayapur,no,0.0,0.0,26.9000,86.5000,64.18,95.11,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,0
253,2007,4,Udayapur,no,0.0,0.0,26.9000,86.5000,33.12,94.93,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,0
254,2019,8,Udayapur,no,0.0,0.0,26.9000,86.5000,4.46,94.41,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,0

In [34]:
new.reset_index(drop=True)

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2009,7,Dailekh,medium,1.0,0.0,28.8378,81.7080,252.43,84.19,...,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75,1
1,2009,7,Kaski,medium,3.0,0.0,28.2039,83.9806,247.15,77.79,...,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36,1
2,2009,7,Kathmandu,large,13.0,0.0,28.0000,85.7100,219.03,83.39,...,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56,1
3,2009,7,Syangja,medium,5.0,0.0,28.1046,83.8791,316.29,85.40,...,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17,1
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.7394,83.5754,443.70,92.52,...,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,2004,10,Terhathum,no,0.0,0.0,27.1000,87.5000,47.95,80.38,...,12.59,1.73,3.80,0.33,3.47,1.75,3.21,0.44,2.77,0
509,2011,9,Terhathum,no,0.0,0.0,27.1000,87.5000,209.62,79.89,...,17.71,1.99,4.02,0.51,3.52,2.19,3.66,0.80,2.86,0
510,1999,10,Udayapur,no,0.0,0.0,26.9000,86.5000,64.18,95.11,...,24.20,2.14,3.79,0.74,3.05,2.82,4.26,1.16,3.10,0
511,2007,4,Udayapur,no,0.0,0.0,26.9000,86.5000,33.12,94.93,...,28.80,2.58,4.58,0.85,3.73,3.25,5.02,1.12,3.90,0
512,2019,8,Udayapur,no,0.0,0.0,26.9000,86.5000,4.46,94.41,...,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39,0

In [35]:
new = new.sample(frac=1).reset_index(drop=True)

In [36]:
new

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,output
0,2016,8,Dhading,medium,0.0,0.0,27.8050,84.9005,114.62,83.57,...,21.30,1.92,4.02,0.36,3.66,2.07,3.75,0.56,3.19,1
1,2010,8,Gulmi,medium,0.0,0.0,28.1171,83.2497,364.20,79.96,...,19.40,2.23,4.47,0.63,3.84,2.51,4.19,0.96,3.23,1
2,1981,10,Humla,no,0.0,0.0,30.0000,81.8000,0.58,58.03,...,-2.23,2.48,6.08,0.46,5.62,2.73,6.10,0.61,5.49,0
3,2010,7,Baglung,medium,0.0,0.0,28.3034,83.3773,254.27,79.10,...,20.47,2.53,4.91,0.56,4.34,2.56,4.29,0.84,3.46,1
4,2006,6,Routahat,no,0.0,0.0,26.8000,85.3000,239.82,98.20,...,31.41,2.60,4.01,1.12,2.89,3.71,5.57,1.71,3.86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,2010,9,Baitadi,medium,0.0,0.0,29.4770,80.3491,270.26,73.89,...,13.70,1.86,3.88,0.40,3.48,1.82,3.25,0.53,2.73,1
509,1998,4,Kanchanpur,no,0.0,0.0,29.0000,80.2000,14.18,88.91,...,23.90,2.76,5.03,0.73,4.31,3.45,5.38,0.91,4.46,0
510,2010,7,Baglung,medium,0.0,0.0,28.2649,83.7843,254.27,79.10,...,20.47,2.53,4.91,0.56,4.34,2.56,4.29,0.84,3.46,1
511,2006,7,Rukum,no,0.0,0.0,28.6500,82.3500,343.24,74.48,...,18.03,2.19,4.47,0.48,4.00,2.18,3.90,0.64,3.24,0
512,1981,6,Dhading,no,0.0,0.0,27.7000,85.2000,169.99,83.39,...,23.62,2.41,4.78,0.52,4.26,2.57,4.35,0.75,3.61,0

In [37]:
new.to_csv('landslide_nepal.csv')