In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nepal_data.csv')

In [3]:
nd = df.copy()

In [4]:
nd

,Unnamed: 0,event_year,event_month,district,landslide_size,fatality_count,injury_count,latitude,longitude
0,0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000
1,1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600
2,2,2009,7,Tanahu,medium,2.0,0.0,27.944700,84.227900
3,3,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000
4,4,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100
...,...,...,...,...,...,...,...,...,...
582,582,2016,7,"Zhangzangbo River, north of Tatopani, Tibet Au...",large,0.0,0.0,27.978173,85.967825
583,583,2016,7,"Zhangzangbo River, north of Tatopani, Tibet Au...",large,0.0,0.0,27.971169,85.954188
584,584,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804
585,585,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872
586,586,2020,9,Sindhupalchok,small,11.0,0.0,27.829360,85.545040

In [5]:
nd.columns

Index(['Unnamed: 0', 'event_year', 'event_month', 'district', 'landslide_size',
       'fatality_count', 'injury_count', 'latitude', 'longitude'],
      dtype='object')

In [6]:
nd.drop(['Unnamed: 0'], axis=1, inplace = True)

In [7]:
n_districts = ["Achham","Arghakhanchi","Baglung","Baitadi","Bajhang","Bajura","Banke","Bara","Bardiya","Bhaktapur","Bhojpur","Chitwan","Dadeldhura","Dailekh","Dang","Darchula","Dhading","Dhankuta","Dhanusa","Dolakha","Dolpa","Doti","Gorkha","Gulmi","Humla","Ilam","Jajarkot","Jhapa","Jumla","Kailali","Kalikot","Kanchanpur","Kapilvastu","Kaski","Kathmandu","Kavrepalanchok","Khotang","Lalitpur","Lamjung","Mahottari","Makawanpur","Manang","Morang","Mugu","Mustang","Myagdi","Nawalparasi","Nuwakot","Okhaldhunga","Palpa","Panchthar","Parbat","Parsa","Pyuthan","Ramechhap","Rasuwa","Rautahat","Rolpa","Rukum","Rupandehi","Salyan","Sankhuwasabha","Saptari","Sarlahi","Sindhuli","Sindhupalchwok","Sindhupalchok", "Siraha","Solukhumbu","Sunsari","Surkhet","Syangja","Tanahu","Taplejung","Terhathum","Udayapur"]

In [8]:
districts = nd['district']

In [9]:
nd

,event_year,event_month,district,landslide_size,fatality_count,injury_count,latitude,longitude
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600
2,2009,7,Tanahu,medium,2.0,0.0,27.944700,84.227900
3,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000
4,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100
...,...,...,...,...,...,...,...,...
582,2016,7,"Zhangzangbo River, north of Tatopani, Tibet Au...",large,0.0,0.0,27.978173,85.967825
583,2016,7,"Zhangzangbo River, north of Tatopani, Tibet Au...",large,0.0,0.0,27.971169,85.954188
584,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804
585,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872
586,2020,9,Sindhupalchok,small,11.0,0.0,27.829360,85.545040

In [12]:
not_converted = []
for i in range(len(nd)):
    if df['district'][i] not in n_districts:
        not_converted.append(df['district'][i])

In [13]:
not_converted

['Pasang Lhamu Highway',
 'Pasang Lhamu Highway, Nepal',
 'Jugu, Nepal',
 'Galeshwor, Beni, Nepal',
 'Talladehi, Nepal',
 'Rajwara, Gaumukhi Rural Municipality, Nepal',
 'Matepani Gupta monastery, Pokhara, Nepal',
 'Hosrangdi, Mahashila Rural Municipality, Nepal',
 'Lamachaur, Pokhara, Nepal',
 'Amden (??), Myadlung Municipality, Eastern Development Region, Nepal',
 'Jubitha, Nepal',
 'Pasryanga cliff (??), Pokhara, Nepal',
 'Khabang, Nepal',
 'Dumre',
 'base of Mt Annapurna South at Narchyang VDC',
 'Dhuseni Shivalaya, Kavre, Nepal',
 'Mahakali Hwy 10200',
 'Kusma Municipality-1, Maldhunga',
 'Hetuda, Kogate',
 'Thumki village (200 km northwest of Katmandu)',
 'Khamlalung 57500, Nepal',
 'Bhimad-8 and Jemune-6',
 'Bindavasini VDCs, Accham district',
 'Lahan',
 'Putalibazaar Municipality-9',
 'â€˜Typical Restaurantâ€™ on the banks of Phewa Lake',
 'Karauja VDC',
 'Kaphaldanda in Ramche VDC -9',
 'Vedetar, Eastern Region',
 'Barpak',
 'Phedikhola(?), Shyangja district',
 'Lele',
 'Mechi Highway at  Lyangba, Dokhu, Nepal',
 'Dalit settlement in Seri VDC-4',
 'Araniko hwy between Tatopani and Bahrabise, Sindhupalchowk, Bagmati',
 'Darechowk(Darechok), Kahare(Khahare) River, Prithvi highway between Mugling and Narayanghat',
 'Suikhet in Hemja',
 'The Mugling-Narayanghat Road Section Near Dasdhunga',
 'Bandipur',
 'Khairenitar-Bhimad Road',
 'Daud VDC-1',
 'Budhigandaki River near Khanibesi',
 'Miteripul, Chaku, Jhyalebhir, Nayapur, Daklang Paharo and Jhirpu, Tatopani along Araniko Highway',
 'Sarmoli Vdc',
 'Gamgadhi-Nagma\xa0Road',
 'Batase and Sisne villages, Lelep VDC, ',
 'Kakanda VDC-7(?), Makwanpur district',
 'Sisneri rd(?), between Hetuda and Pharping',
 'Bhanumati-8, Damauli',
 'Rak-2',
 'Adhikarichaur-4',
 'Deviisthan-5',
 'Hemja village, Lekhnath municipality',
 'Siddhartha Highway, near Siddhababa Temple',
 'Chunwang VDC-8',
 'Banskharka VDC',
 'Harkate-Kiteni section of Mechi highway',
 'Siddhartha Highway at Dovan VDC-5',
 'Kalon cliff in Api Municipality-6',
 'near Kamala River and BP Highway, Karkare, Kamalamai, Nepal',
 'Changunarayan Temple',
 'Marauche Community Forest',
 'Madevdanda of Sisneri',
 'Biratnagar',
 'Phidim-Raanke section of the Mechi Highway at Sandim, Phidim-2, Nepal',
 'Hetaunda-Kulekhani-Pharping highway, Sisneri-5',
 'Sola Bhanjyang, Bhimfedi-5, Makwanpur, Nepal',
 'Hugdishir-3',
 'Ramidanda',
 'Bhairavsthan of Bhairavsthan VDC and Laghuwa of Deurali VDC',
 'Kerauja, near Budhi Gandaki River',
 'Jawang, Jogimara VDC-2, Prithvi highway between Muglin and Naubise',
 'Janaprabha Higher Secondary School, Liku',
 'Ghoratabela',
 'Hetauda-Kulekhani rd, Naryani province',
 'Mahakali river at Bangabagad',
 'primary health centre in the northern Kolti',
 'Nala of Tukuchha',
 'Shaktikhor-2',
 'Ainapahara in Anbukhaireni Municipality-6',
 'khukondole, Tatopani',
 'Phedi',
 'Daud VDC-3',
 'Sukaunda hill at Kulekhani',
 'Luwa Khola',
 'Buchi Village, Jagannath Vdc-5',
 'Baluwa bazaar at Simjung-9',
 'Dahachaur of Sukatiya-8',
 'Sattale of Tulsipur Municipality-1 along the Rapti Highway',
 'Narayangadh-Muglin road at Seti Dovan',
 'Siddhababa, Donovan-5(?), Siddhartha highway between Tansen and Butwal',
 'Narayani',
 'Bastitar village(?), Mahankal VDC, Sinhupalchowk district',
 'Hetauda-Kulekhani road',
 'trail between Phillim and Lokpa',
 'Modikhola Hydropower Project',
 'Salleri, Phakhel VDC-3\xa0',
 'Ghattekhola, Timure',
 'Purtingkada village (320 kilometers west of the capital, Katmandu)',
 'Narayani Riverside Resort',
 'Keyarpani of Soti Bazaar in Thumi VDC',
 'Khundi Khola (River) at Ghan Pokhara Vdc-8',
 'Dhungre, Daldale-Bulingtar road, Nepal',
 'Reep village in Chowk Chisapani VDC-8',
 'Pokhara',
 'Lumle',
 'Rank VDC-2',
 'Sainpasela, Malumela Vdc',
 'Bus park area of Lincon Bazaar in Jiri',
 'Lampata of Babiyachaur VDC-5',
 'Kalika Secondary School In Kapurkot Of Dhanwang Vdc',
 'Karnali Highway, Near Manma',
 'Jogbuda-4, Malas',
 'Khimti Village',
 'Syalapakhala VDC',
 '\xa0Prithvi Highway,Titrang,Mauwakhola, Jogimara VDC-2',
 'Mankha',
 'Mechi Highway',
 'Sisuwa and Tamku VDCs in the northern part of Sankhuwasabah',
 'Dhuskun Of Sindupalchowk District',
 'Beni-Maldhunga road at Pang',
 'Manma',
 'Chyamrangbesi VDC-1 in Kavre district',
 'Road between Barpak and Muchok',
 'Maglungkhola Hydro Project, Gumda, Nepal',
 '(Landslips occurred in Pokhari, Arkhala, Dhugre, Kamalikot) Kawasoti',
 'Western Nepal',
 'Thade Rivulet at Simkharka of Maijhuwa-4',
 'Sisuwakhola, Masyam-5',
 'Tutung in Mudi-8  http://kathmandupost.ekantipur.com/news/2015-07-30/six-dead-in-myagdi-landslides.html',
 'Talamarang Bazaar-Batase road at Jagarkot',
 'Sulichaur village,Nepal',
 'Sanfe-Mangalsen road',
 'Gorusinge-Sandhikharkha Road',
 'Far-Western Development Region',
 'Budhimorang, Eastern Region',
 'Bartung-Ramdi Section, Siddhartha Highway',
 'Nar VDC',
 'Dikhurpokhari VDC',
 'Pharping-Kulekhani road in Phakel, Makwanpur District, Nepal',
 'trail between Phillim and Lokpa',
 'Dhupu VDC\xa0,  ',
 'north of Pattal Bhumeshwor, situated at Basulinga VDC of Baidati district',
 'Muglin(Mugling)-Naubise part of Prithvi highway,',
 'Siddhesory VDCs and Bindavasini VDCs villages, Accham district',
 'Tansen-Tamghas Section, Siddhartha Highway',
 'Sertung',
 'Chokati Of Sindupalchowk District',
 'Araniko hwy, between Bandeu and Tatopani, Bagmati',
 'Langtang Valley',
 'Between Mungling and Narayanghat',
 'Finam-6',
 'KI Singh Highway',
 'Modikhola Hydro Project',
 'Mechi Highway at Siteni of Kolbu-9 (Kolbung??)',
 'Amkot in Brahmatola VDC ward-2 ',
 'Mahabharat, Eastern Region',
 'Sindupalchowk',
 'Saghutar in Rammechap District',
 'Naubise-Simbhanjyang stretch of the Tribhuwan Highway',
 'Pasang Lhamu Highway at Ramche',
 'Sapatakoshi Bridge',
 'Kuntiwandali-3, Accham, Western Region',
 'along Narayangadh-Muglin, Jalbire, Nepal',
 'Bairagi Thanti Bazaar',
 'Sakla-3',
 'Rangrung Hydropower Project at Barpak VDC',
 'Khadichowr village(?), Mankha VDC, Sinhupalchowk district',
 'Upper Madi hydroelectric project',
 'Sindhupalchowk',
 'Dumre-Besisahar Road',
 'Kathare in Barbhanjyang VDC-8',
 'Simaltar in Chandibhanjyag VDC-9, Jalbire on Narayangadh-Mugling stretch of the road',
 'Dumre-Bandipur Road',
 'Singati',
 'Pokhara',
 'Beni-Darbang Road Section, Phaparkhet',
 nan,
 'Charkilo (??), Narayani Zone, Nepal',
 'near Fyanglum, Shyafru-Timure section, Nepal-China Gyirong highway, Nepal',
 'Okhareni, Tamghas, Nepal',
 'Lekhani, Nepal',
 'Khandbari, Nepal',
 'Martadi, Seti',
 'Shantipur, Nepal',
 'Daman, Narayani Zone, Nepal',
 'Darechok, Narayani, Nepal',
 'Talkot, Bhajang District, Nepal',
 'Rayale, Panauti Municipality, Nepal',
 'Kabilas, Narayani',
 'Dhansira, Ghyachok, Gandaki',
 'Bagjhora, Narayani Zone, Nepal',
 'Mid-Hill Postal Highway, Daram River, Manewa, Righa VDC-7, Righa, Nepal',
 'Jiteghat (??), Kotbada, Karnali, Nepal',
 'Kalikhola (??), Narayani Zone, Nepal',
 'Tatopani, Bagmati',
 'Dobhan, Lumbini',
 'Dobhan, Lumbini',
 'Subeda area, Bahjang district, Nepal',
 'Siddhartha Rajmarg, Dobhan 32907, Nepal',
 'Tinau rural muncipalty, Dobhan, Nepal.',
 'Siddhartha Rajmarg, Butwal, Nepal.',
 'Annapurna rural municipality-3, Beni - Jomsom Rd Beni 33200 Nepal.',
 'Besisahar - Chame Sadak, Arkhale, Marsyangdi Rural Municipality, Nepal.',
 'Tansen-Ridi-Tamghas Road, Bhangari, Dubichaur, Resunga 32600, Nepal',
 'Beni, Arthunge, Dhawalagiri',
 'Mahendra Rajmarg, Kabilas, Narayani',
 'Kabilas, Narayani. Bharatpur metropolis-29, Ghumaune and Ichhakamana municipality-6, Jalbire',
 'Ichhakamana Rural Municipality-6, Jalbire',
 'Besi Shahar-Chame road',
 'along Kali River between Nazang and Mangti',
 'Baphukhola, Bagchaur, Saylan, Nepal',
 'Barhabise, Bagmati, Nepal',
 'Zhangzangbo River, north of Tatopani, Tibet Autonomous Region, China',
 'Zhangzangbo River, north of Tatopani, Tibet Autonomous Region, China']

In [14]:
data = nd[~nd.district.isin(not_converted)]

In [15]:
data

,event_year,event_month,district,landslide_size,fatality_count,injury_count,latitude,longitude
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600
2,2009,7,Tanahu,medium,2.0,0.0,27.944700,84.227900
3,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000
4,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100
...,...,...,...,...,...,...,...,...
580,2018,9,Jajarkot,large,8.0,0.0,28.875342,82.156473
581,2018,9,Jajarkot,large,0.0,0.0,28.940106,82.903068
584,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804
585,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872
586,2020,9,Sindhupalchok,small,11.0,0.0,27.829360,85.545040

In [16]:
data.rename(columns = {"event_year": "YEAR", "event_month": "MONTH", "district":"DISTRICT"}, inplace=True)

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
climate = pd.read_csv('climate_data_nepal_district_wise_monthly.csv')

In [18]:
cd = climate.copy()

In [19]:
cd

,DATE,YEAR,MONTH,DISTRICT,LAT,LON,PRECTOT,PS,QV2M,RH2M,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,1981-01-31,1981,1,Arghakhanchi,27.9,83.2,67.31,93.78,5.28,53.09,...,10.03,11.19,2.01,3.39,0.81,2.59,2.70,4.22,1.06,3.16
1,1981-02-28,1981,2,Arghakhanchi,27.9,83.2,3.37,93.52,5.13,40.88,...,13.08,15.10,2.58,4.88,0.95,3.94,3.51,5.62,1.09,4.53
2,1981-03-31,1981,3,Arghakhanchi,27.9,83.2,26.02,93.40,5.91,35.84,...,13.52,20.58,2.73,4.67,1.02,3.65,3.73,5.72,1.38,4.34
3,1981-04-30,1981,4,Arghakhanchi,27.9,83.2,46.15,93.03,6.52,29.81,...,15.03,25.63,2.89,4.78,1.07,3.72,3.82,5.66,1.35,4.31
4,1981-05-31,1981,5,Arghakhanchi,27.9,83.2,69.45,92.75,9.95,37.25,...,13.43,29.99,2.69,4.40,0.93,3.47,3.52,5.29,1.30,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29011,2019-08-31,2019,8,Udayapur,26.9,86.5,4.46,94.41,20.34,85.51,...,5.54,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39
29012,2019-09-30,2019,9,Udayapur,26.9,86.5,9.93,94.92,18.62,87.16,...,4.91,25.25,2.40,3.86,1.17,2.68,3.40,4.70,2.05,2.65
29013,2019-10-31,2019,10,Udayapur,26.9,86.5,0.28,95.34,15.04,84.67,...,6.95,22.08,1.79,3.21,0.62,2.59,2.48,3.73,0.97,2.76
29014,2019-11-30,2019,11,Udayapur,26.9,86.5,0.04,95.48,11.26,73.08,...,8.77,18.75,1.56,2.92,0.46,2.47,2.09,3.29,0.67,2.62
29015,2019-12-31,2019,12,Udayapur,26.9,86.5,0.35,95.74,6.57,61.07,...,10.05,12.57,1.79,3.25,0.66,2.60,2.47,3.93,0.83,3.09

In [20]:
cd.drop(['DATE', 'LAT', 'LON'], axis=1, inplace=True)

In [21]:
cd

,YEAR,MONTH,DISTRICT,PRECTOT,PS,QV2M,RH2M,T2M,T2MWET,T2M_MAX,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,1981,1,Arghakhanchi,67.31,93.78,5.28,53.09,13.03,3.34,19.17,...,10.03,11.19,2.01,3.39,0.81,2.59,2.70,4.22,1.06,3.16
1,1981,2,Arghakhanchi,3.37,93.52,5.13,40.88,16.67,2.94,24.41,...,13.08,15.10,2.58,4.88,0.95,3.94,3.51,5.62,1.09,4.53
2,1981,3,Arghakhanchi,26.02,93.40,5.91,35.84,20.83,4.84,28.31,...,13.52,20.58,2.73,4.67,1.02,3.65,3.73,5.72,1.38,4.34
3,1981,4,Arghakhanchi,46.15,93.03,6.52,29.81,25.50,5.94,33.42,...,15.03,25.63,2.89,4.78,1.07,3.72,3.82,5.66,1.35,4.31
4,1981,5,Arghakhanchi,69.45,92.75,9.95,37.25,28.89,12.45,35.70,...,13.43,29.99,2.69,4.40,0.93,3.47,3.52,5.29,1.30,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29011,2019,8,Udayapur,4.46,94.41,20.34,85.51,27.01,24.27,29.98,...,5.54,27.11,2.66,4.52,1.12,3.40,3.66,5.32,1.93,3.39
29012,2019,9,Udayapur,9.93,94.92,18.62,87.16,25.24,22.85,28.04,...,4.91,25.25,2.40,3.86,1.17,2.68,3.40,4.70,2.05,2.65
29013,2019,10,Udayapur,0.28,95.34,15.04,84.67,22.26,19.44,26.24,...,6.95,22.08,1.79,3.21,0.62,2.59,2.48,3.73,0.97,2.76
29014,2019,11,Udayapur,0.04,95.48,11.26,73.08,19.96,14.75,25.11,...,8.77,18.75,1.56,2.92,0.46,2.47,2.09,3.29,0.67,2.62
29015,2019,12,Udayapur,0.35,95.74,6.57,61.07,14.33,6.62,20.51,...,10.05,12.57,1.79,3.25,0.66,2.60,2.47,3.93,0.83,3.09

In [22]:
merge = pd.merge(data, cd, how ='inner', on =['YEAR', 'MONTH', 'DISTRICT'])

In [23]:
merge

,YEAR,MONTH,DISTRICT,landslide_size,fatality_count,injury_count,latitude,longitude,PRECTOT,PS,...,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,2009,7,Dailekh,medium,1.0,0.0,28.837800,81.708000,252.43,84.19,...,8.35,25.26,2.36,4.62,0.48,4.15,2.60,4.52,0.76,3.75
1,2009,7,Kaski,medium,3.0,0.0,28.203900,83.980600,247.15,77.79,...,7.13,20.14,2.57,4.89,0.52,4.37,2.49,4.09,0.74,3.36
2,2009,7,Kathmandu,large,13.0,0.0,28.000000,85.710000,219.03,83.39,...,7.74,23.66,2.37,4.78,0.48,4.29,2.50,4.35,0.78,3.56
3,2009,7,Syangja,medium,5.0,0.0,28.104600,83.879100,316.29,85.40,...,7.19,24.22,2.44,4.32,0.68,3.64,2.86,4.29,1.13,3.17
4,2011,7,Arghakhanchi,medium,2.0,0.0,27.739400,83.575400,443.70,92.52,...,5.53,25.79,2.54,4.21,1.16,3.05,3.54,5.02,2.08,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,11.16,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05
254,2018,12,Rasuwa,small,0.0,0.0,28.111965,85.310998,0.04,68.72,...,11.16,-3.03,1.96,4.98,0.25,4.72,1.97,4.41,0.36,4.05
255,2018,9,Nuwakot,unknown,0.0,0.0,27.962161,83.052408,2.16,83.88,...,6.45,20.04,2.04,4.14,0.49,3.65,2.26,3.83,0.73,3.10
256,2018,9,Lamjung,large,2.0,0.0,28.456039,84.232804,2.68,77.68,...,6.30,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09
257,2018,9,Lamjung,large,2.0,0.0,28.296584,84.381872,2.68,77.68,...,6.30,16.60,2.21,4.39,0.45,3.94,2.18,3.69,0.60,3.09

In [24]:
merge.to_csv('final.csv')